@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
*{
    font-family: Passion One ;
}
body {
    background-image: url("/src/img/Contabilidad.jpg");
    background-position: center center;
    background-size: cover;
}

h3{
    margin-top: 10px;
    border: black solid;
}

#RegistrarIMG {
    height: 100px;
    width: 40%;
}
#ModificarIMG {
    height: 100px;
    width: 40%;
}
#BorrarIMG {
    height: 100px;
    width: 35%;
}

#LibroDiarioIMG {
    height: 150px;
    width: 50%;
}
#ConsultaLibroDIMG{
    height: 150px;
    width: 50%;
}
#LibroMayorIMG {
    height: 150px;
    width: 50%;
}
